body{
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center{
text-align: center;
}

#grid{
	padding: 0px;
	overflow: hidden;
	z-index:-1;
}

#settings-wrapper{
	z-index:200;
	position: fixed;
	background: #fff;
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	width: 300px;
	margin: 10px auto 10px;
}


.grid-item {
	float: left;
	position: relative;
}

.color{
	display:none;
	position: absolute;
}

.grid-item { 
}


/*Form Styling*/
form {
	
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
input {
	border-radius: 5px;
	margin: 0;
}
#settings {
	padding: 0px 40px 0px 20px;
}
#settings legend{
	text-align: center;
	margin: 0;
	font-weight: bold;
	font-size: 150%;
}
#settings label {
	color: #000;
	font-weight: bold;
}
#settings input {
	background: #fff;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	color: #636466;
	padding: 6px;
	margin-bottom: 10px;
	width: 100%;
}
#settings-action {
	text-align: center;
	background: #f0f0f2;
	border-top: 1px solid #c6c7cc;
	padding: 20px;
}
.btn {
	border-radius: 5px;
	border: 1px solid blue;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
}