#grid{
	padding: 0px;
	overflow: hidden;
	position: relative;
}


.grid-item {
  float: left;
 /* width: 10vw;
  height: 10vw;
  width:9.6%;
  padding-bottom:9.6%;
  */
}

.grid-item { 

/*margin: .2%;*/
}