#grid{
	padding: 0px;
}

.item{
	
	border: 1px solid #000;
	display: inline;
	width: 48%;
	height: 50%;
	
}

.grid-item {
  float: left;
 /* width: 10vw;
  height: 10vw;*/
  width:9.6%;
  padding-bottom:9.6%;
}

.grid-item { 

margin: .2%;
}